$black-100: #000;
$black-90: #151A1C;
$grey-90: #3E4345;
$grey-80: #5E6366;
$grey-30: #babec0;
$grey-20: #F1F3F4;
$golden-100: #EFB458;
$golden-90: #ECBA78;
$golden-60: #F4D5AC;

$colors-map:
    (black-100, $black-100),
    (black-90, $black-90),

    (grey-90, $grey-90),
    (grey-80, $grey-80),
    (grey-30, $grey-30),
    (grey-20, $grey-20),

    (golden-100, $golden-100),
    (golden-90, $golden-90),
    (golden-60, $golden-60)

