@import "../../../../bootstrap"

.team-person-card
    height: auto !important

    &:not(:last-child)
        margin-right: 8px


    @media ($breakpoint_md_max) and ($breakpoint_md_max)
        width: 70vw !important
        max-width: 234px !important


    @media ($breakpoint_xl)
        width: 210px !important
